{% extends "core/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <p>Created: {{ article.created_at }}</p>
        <p>Edited: {{ article.updated_at }}</p>
        {% if request.user.is_authenticated %}
            {% if is_subscribed %}
            <a href="{% url 'unsubscribe_notifications' article.id %}?next={{request.get_full_path}}">Unsubscribe</a>
            {% else %}
            <a href="{% url 'subscribe_notifications' article.id %}?next={{request.get_full_path}}">Subscribe to notifications</a>
            {% endif %}
            <a href="{% url 'editing_history' article.id %}">Editing History</a>
        {% endif %}
    </div>
    <img src="{{ article.image_url }}" style="width: 50%; max-width: 500px" onerror="this.onerror=null; this.src='/static/core/not_found.jpg'">
    <div class="d-flex">
        <h1>{{ article.title }}</h1>
        <a href="{% url 'edit_article' article.id %}">Edit</a>
    </div>

    {% for chapter in article.active_chapters %}
        <div class="d-flex align-items-stretch">
            <h3>{{ chapter.title }}</h3>
            <a href="{% url 'edit_chapter' article.id chapter.id %}">Edit</a>
        </div>

        <p>{{ chapter.text }}</p>
    {% endfor %}
{% endblock %}